@import url(./middle.css);

#suggest-block{
    /* border: 2px solid;
    background-color: #63ff4a; */
    height: 100vh;
}
#suggest-block h1{
    font-size: 30px;
    position: relative;
    top: 9%;
    left: 5%;
}
.ride{
    position: absolute;
    top: 159%;
    left: 5%;
    border-radius: 5px;
    /* border: 2px solid coral; */
    height: 140px;
    width: 360px;
    background-color: #eaeaea;
}
.ride img{
    position: absolute;
    left: 70%;
    top: 20%;
    height: 100px;
}
.ride h2{
    font-size: 16px;
    font-weight:bolder;
    position: absolute;
    left: 5%;
    top: 5%;
}
.ride p{
    position: absolute;
    top: 20%;
    left: 5%;
    right: 32%;
    font-size: 14px;
}
.ride button{
    height: 40px;
    width: 90px;
    border-radius: 50px;
    position: absolute;
    top: 55%;
    left: 5%;
    font-size: 14px;
}
.package{
    position: absolute;
    top: 159%;
    left: 37%;
    border-radius: 5px;
    /* border: 2px solid coral; */
    height: 140px;
    width: 360px;
    background-color: #eaeaea;
}
.package img{
    position: absolute;
    left: 70%;
    top: 20%;
    height: 100px;
}
.package h2{
    font-size: 16px;
    font-weight:bolder;
    position: absolute;
    left: 5%;
    top: 5%;
}
.package p{
    position: absolute;
    top: 20%;
    left: 5%;
    right: 32%;
    font-size: 14px;
}
.package button{
    height: 40px;
    width: 90px;
    border-radius: 50px;
    position: absolute;
    top: 55%;
    left: 5%;
    font-size: 14px;
}
.reserve{
    position: absolute;
    top: 159%;
    left: 69%;
    border-radius: 5px;
    /* border: 2px solid coral; */
    height: 140px;
    width: 330px;
    background-color: #eaeaea;
}
.reserve img{
    position: absolute;
    left: 70%;
    top: 20%;
    height: 100px;
}
.reserve h2{
    font-size: 16px;
    font-weight:bolder;
    position: absolute;
    left: 5%;
    top: 5%;
}
.reserve p{
    position: absolute;
    top: 20%;
    left: 5%;
    right: 32%;
    font-size: 14px;
}
.reserve button{
    height: 40px;
    width: 90px;
    border-radius: 50px;
    border-color:white;
    position: absolute;
    top: 57%;
    left: 5%;
    font-size: 14px;
}